---
import { getCollection } from "astro:content";
import ProjectItem from "./ProjectItem.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.start_date!.getTime() - b.data.start_date!.getTime(),
);
---
<div class="group/projects">
    <div class="flex gap-4 mb-2">
        <div class="flex items-center gap-1">
            <input name="filters" type="checkbox" class="switch switch-primary" id="filter-personal" value="personal" checked />
            <label class="label label-text text-base" for="filter-personal-only">Personal</label>
        </div>
        <div class="flex items-center gap-1">
            <input name="filters" type="checkbox" class="switch switch-primary" id="filter-professional" value="professional" checked />
            <label class="label label-text text-base" for="filter-professional-only">Professional</label>
        </div>
    </div>
<ul
        class="timeline timeline-snap-icon timeline-compact timeline-vertical sm:max-w-3xl"
>
        { [ ...projects.filter((e) => e.data.end_date), ...projects.filter((e) => !e.data.end_date) ].map((e, index) => 
    <ProjectItem
        entry={e}
        checked={e.data.end_date !== undefined}
        position={index === projects.length - 1 ? "end" : index === 0 ? "start" : undefined}
    />
    ) }
</ul>
</div>
