---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contact" description="Let's keep in touch">
    <main>
        <div class="mx-auto p-4 sm:max-w-3xl">
            <h2 class="text-2xl font-bold"><span class="icon-[tabler--message] size-5 mr-2"/>Contact</h2>
            <p>Let's keep in touch.</p>
            <br />
            <h3 class="text-xl font-semibold">For networking purposes</h3>
            <p>We can connect through <a class="link" href="https://linkedin.com/in/danialaimanhanif" target="_blank">linkedin</a></p>
            <br />
            <h3 class="text-xl font-semibold">For business purposes</h3>
            <p>Email me at <a class="link" href="mailto:danial@hambergerpls.dev">danial@hambergerpls.dev</a> or contact me through <a class="link" href="https://wa.me/60199788440" target="_blank">WhatsApp</a></p>
        </div>
    </main>
</Layout>
