---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { removeNumberPrefixFromContentId } from "@/utils";
import Project from "@/components/Projects/ProjectContent.astro";
import ProjectDetails from "@/components/Projects/ProjectDetails.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((entry) => ({
    params: { slug: removeNumberPrefixFromContentId(entry.id) },
    props: { entry },
  }));
}

export const prerender = true;

const { entry } = Astro.props;
---
<Layout title={entry.data.title}>
    <main class="flex flex-col justify-center items-center sm:flex-row sm:items-start sm:justify-start w-full">
        <div class="flex-none max-w-xs sm:col-span md:max-w-md">
        <ProjectDetails entry={entry} />
        </div>
        <div class="divider sm:divider-horizontal flex-none" />
        <div class="grow">
            <div class="p-4">
                <Project entry={entry} />
            </div>
        </div>
        <!--<div class="mx-auto p-4 sm:max-w-3xl">-->
        <!--    <Content />-->
        <!--</div>-->
    </main>
</Layout>
