---
import Layout from "../../layouts/Layout.astro";
import Projects from "../../components/Projects/index.astro";
---

<Layout title="Projects" description="Collections of projects I have worked/currently working on.">
    <main>
        <div class="mx-auto p-4 sm:max-w-3xl">
            <h2 class="text-2xl font-bold"><span class="icon-[tabler--tool] size-5 mr-2"/>Projects</h2>
            <p>Collections of projects I have worked/currently working on.</p>
            <br />
            <Projects />
        </div>
    </main>
</Layout>
